<nb-card class="info-popup-card" accent="info">

  <nb-card-header>

    <div class="row">

      <div class="col-11">
        <nb-user [name]="user.firstName + ' ' + user.lastName"></nb-user>
      </div>

      <div class="col-1" *ngIf="closeButton">
        <button nbButton size="tiny" shape="round" class="p-1" status="info" (click)="dismiss()">
          <nb-icon pack="eva" icon="close-outline"></nb-icon>
        </button>
      </div>

    </div>

  </nb-card-header>
  <nb-card-body>

    <div class="col-12" id="space_info_popup"></div>
    <div class="row">
      <!-- NAME DES KUNDEN -->
      <div class="col-4">

        <!-- ZEILE 1 -->
        <div class="row">

          <div class="col-2 pr-2">
            <nb-icon pack="eva" icon="person-outline"></nb-icon>
          </div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">Anrede:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="Anrede">{{user.gender}}</small>
          </div>

        </div>

        <!-- ZEILE 2 -->
        <div class="row">
          <div class="col-2 pr-1"></div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">Vorname:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="vorname">{{user.firstName}}</small>
          </div>
        </div>

        <!-- ZEILE 3 -->
        <div class="row">
          <div class="col-2 pr-1"></div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">Nachname:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="lastname">{{user.lastName}}</small>
          </div>
        </div>

        <!-- ZEILE 4 -->
        <div class="row">
          <div class="col-2 pr-1"></div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">Zusatz:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="zusatz"> Zusatz </small>
          </div>
        </div>

      </div>

      <!-- Adresse des Kunden-->
      <div class="col-4">

        <!-- ZEILE 1 -->
        <div class="row">

          <div class="col-2 pr-1">
            <nb-icon pack="eva" icon="home-outline"></nb-icon>
          </div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">Strasse:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="Anrede">{{user.adresse.streetName}} {{user.adresse.houseNumbre}}</small>
          </div>
        </div>

        <!-- ZEILE 2 -->
        <div class="row">

          <div class="col-2 pr-1"></div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">Ort:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="Anrede">{{user.adresse.cityName}}</small>
          </div>

        </div>

        <!-- ZEILE 1 -->
        <div class="row">

          <div class="col-2 pr-1"></div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">PLZ:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="Anrede">{{user.adresse.postCode}}</small>
          </div>

        </div>

      </div>

      <div class="col-4">

        <!-- Geburtstag des Kunden !-->
        <!-- ZEILE 1 -->
        <div class="row">
          <div class="col-2 pr-1">
            <nb-icon pack="eva" icon="gift-outline"></nb-icon>
          </div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">Geburtstag:</small>
          </div>
          <div class="col-7 font-weight-bold ">
            <small class="text-muted">{{user.birthdate}}</small>
          </div>
        </div>

        <!-- Kontakt des Kunden !-->
        <!-- ZEILE 1 -->
        <div class="row">

          <div class="col-2 pr-1">
            <nb-icon pack="eva" icon="phone-call-outline"></nb-icon>
          </div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">Festnetz:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="Anrede">{{user.telNumbre}}</small>
          </div>

        </div>

        <!-- ZEILE 2 -->
        <div class="row">
          <div class="col-2 pr-1"></div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">Handy:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="Anrede">{{user.telNumbre}}</small>
          </div>
        </div>

        <!-- ZEILE 3 -->
        <div class="row">
          <div class="col-2 pr-1">
            <nb-icon pack="eva" icon="email-outline"></nb-icon>
          </div>
          <div class="col-3 font-weight-light ">
            <small class="text-muted">E-Mail:</small>
          </div>
          <div class="col-7 font-weight-bold">
            <small class="Anrede">{{user.email}}</small>
          </div>
        </div>

      </div>
    </div>

  </nb-card-body>


 <!-- <nb-flip-card>

      <nb-card-front>

          <nb-card>

            <nb-card-header>Profil:</nb-card-header>

            <nb-card-body>


              <nb-accordion>
                <nb-accordion-item>
                  <nb-accordion-item-header>
                    Name und Anschrift
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>



                  </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                  <nb-accordion-item-header>
                   Geburtstagsdatum
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object,
                    including galaxies beyond the Milky Way.
                  </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item >
                  <nb-accordion-item-header>
                    Kontaktdaten
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object,
                    including galaxies beyond the Milky Way.
                  </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item >
                  <nb-accordion-item-header>
                    Interne Bemerkung
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object,
                    including galaxies beyond the Milky Way.
                  </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>


            </nb-card-body>

          </nb-card>

      </nb-card-front>


    <nb-card-back>

      <nb-card>
        <nb-card-header>Kundenkarte:</nb-card-header>
        <nb-card-body>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis tincidunt tincidunt.
          Vestibulum vulputate maximus massa vel tristique. Suspendisse potenti. Duis aliquet purus sed dictum dictum.
          Donec fringilla, purus at fermentum imperdiet, velit enim malesuada turpis, quis luctus arcu arcu nec orci.
          Duis eu mattis felis. Quisque sollicitudin elementum nunc vel tincidunt. Vestibulum egestas mi nec
          iaculis varius. Morbi in risus sed sapien ultricies feugiat. Quisque pulvinar mattis purus,
          in aliquet massa aliquet et.
        </nb-card-body>

      </nb-card>
    </nb-card-back>
  </nb-flip-card>-->




</nb-card>
