<nb-card  accent="info">

  <nb-card-header>{{ title }}</nb-card-header>

  <nb-flip-card>

      <nb-card-front>

          <nb-card>

            <nb-card-header>Profil:</nb-card-header>

            <nb-card-body>


              <nb-accordion>
                <nb-accordion-item>
                  <nb-accordion-item-header>
                    Name und Anschrift
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>

                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col-1 pr-1">
                            <nb-icon pack="eva" icon="person-outline"></nb-icon>
                          </div>
                          <div class="col-5 font-weight-bold">
                            <span>Name des Kunden</span>
                          </div>
                        </div>
                       <!-- NAME DES KUNDEN-->

                        <div class="row">
                          <div class="col-1 pr-1"></div>
                          <div class="col-2 font-weight-light ">
                            <small class="text-muted">Anrede:</small>
                          </div>
                          <div class="col-5 font-weight-bold">
                            <small class="Anrede">Herr / Frau Dr.</small>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-1 pr-1"></div>
                          <div class="col-2 font-weight-light ">
                            <small class="text-muted">Vorname:</small>
                          </div>
                          <div class="col-5 font-weight-bold">
                            <small class="vorname">{{user.name}}</small>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-1 pr-1"></div>
                          <div class="col-2 font-weight-light ">
                            <small class="text-muted">Nachname:</small>
                          </div>
                          <div class="col-5 font-weight-bold">
                            <small class="lastname">{{user.lastname}}</small>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-1 pr-1"></div>
                          <div class="col-2 font-weight-light ">
                            <small class="text-muted">Zusatz:</small>
                          </div>
                          <div class="col-5 font-weight-bold">
                            <small class="zusatz"> Zusatz </small>
                          </div>
                        </div>

                        <!-- Adresse des Kunden-->

                      </div>
                      <div class="col">
                        <div class="row">
                          <div class="col-1 pr-1">
                            <nb-icon pack="eva" icon="home-outline"></nb-icon>
                          </div>
                          <div class="col-5 font-weight-bold">
                            <span>Adresse des Kunden</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-1 pr-1"></div>
                          <div class="col-2 font-weight-light ">
                            <small class="text-muted">Strasse:</small>
                          </div>
                          <div class="col-5 font-weight-bold">
                            <small class="Anrede">Strasse 2</small>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-1 pr-1"></div>
                          <div class="col-2 font-weight-light ">
                            <small class="text-muted">Ort:</small>
                          </div>
                          <div class="col-5 font-weight-bold">
                            <small class="Anrede">Ort so und so</small>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-1 pr-1"></div>
                          <div class="col-2 font-weight-light ">
                            <small class="text-muted">PLZ:</small>
                          </div>
                          <div class="col-5 font-weight-bold">
                            <small class="Anrede">04103</small>
                          </div>
                        </div>

                      </div>
                    </div>

                  </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                  <nb-accordion-item-header>
                   Geburtstagsdatum
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object,
                    including galaxies beyond the Milky Way.
                  </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item >
                  <nb-accordion-item-header>
                    Kontaktdaten
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object,
                    including galaxies beyond the Milky Way.
                  </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item >
                  <nb-accordion-item-header>
                    Interne Bemerkung
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object,
                    including galaxies beyond the Milky Way.
                  </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>


            </nb-card-body>

          </nb-card>

      </nb-card-front>


    <nb-card-back>

      <nb-card>
        <nb-card-header>Kundenkarte:</nb-card-header>
        <nb-card-body>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis tincidunt tincidunt.
          Vestibulum vulputate maximus massa vel tristique. Suspendisse potenti. Duis aliquet purus sed dictum dictum.
          Donec fringilla, purus at fermentum imperdiet, velit enim malesuada turpis, quis luctus arcu arcu nec orci.
          Duis eu mattis felis. Quisque sollicitudin elementum nunc vel tincidunt. Vestibulum egestas mi nec
          iaculis varius. Morbi in risus sed sapien ultricies feugiat. Quisque pulvinar mattis purus,
          in aliquet massa aliquet et.
        </nb-card-body>

      </nb-card>
    </nb-card-back>
  </nb-flip-card>

  <nb-card-footer>
    <button nbButton hero status="primary" (click)="dismiss()">Schließen</button>
  </nb-card-footer>



</nb-card>
