


<nb-card accent="info">
  <div class="card-row">

    <div class="card-col">
      <nb-card size="large">
        <nb-card-header>Kundenübersicht</nb-card-header>
        <nb-card-body>

            <nb-card size="large">
                    <nb-list>
                        <nb-list-item *ngFor="let hero of heroes">
                          <nb-layout>
                            <nb-layout-header>
                              <nb-layout-column>
                                <nb-action size="small" icon="person-outline">  </nb-action>
                              </nb-layout-column>
                              <nb-layout-column>
                                <nb-user [name]="hero.title + ' ' + hero.name + ' ' + hero.lastname" [title]="hero.lastVisit" ></nb-user>
                              </nb-layout-column>
                            </nb-layout-header>

                          </nb-layout>

                          </nb-list-item>
                      </nb-list>
                  </nb-card>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
</nb-card>
